<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">
    <script src="{% static 'polls/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pitonas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'polls:index' %}">Užduotys</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
        <form action="{% url 'polls:upload' question.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                <p>{{ question.question_details }}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <div class="mb-3">
                    <label for="formFile" class="form-label">Įkelk sprendimo failą: </label>
                    <input class="form-control" type="file" name="file" id="formFile" accept="*/*">
                </div>
        {#        <input id="uploadbutton" type="file" value="Browse" name="file" accept="*/*"/>#}
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Įkelti">
        </form>
    </div>
</body>
</html>