<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" >
    <script src="{% static 'polls/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pitonas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'polls:index' %}">Užduotys</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container w-50 p-3">
        <div class="card mb-3 text-center">
            <img src="{% static 'img/goodjob.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Programa praėjo visus testus. Sveikinimai!</h1>
            </div>
        </div>
    </div>
</body>
</html>